#map {
  margin: 0 auto;
  width: 80%;
  height: 550px;
}

.pub-map-list {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  > li {
    list-style-type: none;
    color: #646464;
    line-height: 22px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
  }
}
