/* WALK PAGE STYLING */

.walk-container, #walks-container {
  margin-top: 10px;
}

.walk-img {
  float: right;
  max-width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  margin-left: 20px;
  animation: none;
}

.pub-map-list {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  > li {
    list-style-type: none;
    color: #646464;
    line-height: 22px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .walk-img {
    margin-left: 0;
    width: 100%;
  }
}
